# Core Frameworks
streamlit
python-dotenv
requests

# Data & NLP
pandas
numpy
nltk
scikit-learn
spacy
tiktoken==0.9.0

# OpenAI & Embeddings
openai==1.76.0
langchain==0.3.20
langchain-core==0.3.44
langchain-community==0.3.19
langchain-openai==0.3.8

# Pinecone
pinecone==5.4.2

# Groq SDK
groq==0.19.0

# Utility
PyYAML
python-dateutil

#deep translator
deep-translator==1.11.4

google-cloud-translate